<div class="row banner-background banner-text">
  <h1 style="text-align: center">The Islands of the Caribbean</h1>
  <h3 style="text-align: center">Browse our selection of hotels, tours and activities to plan your warm weather vacation.</h3>
</div>

<!-- Page Content -->
<div class="container" id="container">

  <hr>

  <!-- Title -->
  <div class="row padding">
    <div class="col-lg-12">
      <h3>Search Hotels</h3>
    </div>
  </div>
  <!-- /.row -->

  <div class="row padding">
    <div class="well" style="padding-bottom: 50px;">

      <%= form_tag({controller: "accommodations", action: "searchByCountry"}, method: "get", id: "search_form_country", enforce_utf8: false, :remote => true) do %>
      <div class="col-md-4">
        <select class="form-control" id="select_country" name="country_id">
          <option value="0">Select Country</option>
          <%= options_from_collection_for_select(Country.all, :country_id, :name) %>
        </select>
      </div>
      <% end %>

      <%= form_tag({controller: "accommodations", action: "searchByDestination"}, method: "get", id: "search_form_destination", enforce_utf8: false, :remote => true) do %>
      <div class="col-md-4">
        <select class="form-control" id="select_destination" name="destination_id" disabled>
          <option value="0">Select Destination</option>
        </select>
      </div>
      <% end %>

      <%= form_tag({controller: "accommodations", action: "searchByLocation"}, method: "get", id: "search_form_location", enforce_utf8: false, :remote => true) do %>
      <div class="col-md-4">
        <select class="form-control" id="select_location" name="location_id" disabled>
          <option value="0">Select Location</option>
        </select>
      </div>
      <% end %>

    </div>
  </div>


  <div class="row padding">
    <div class="well">
      <div id="hotels">
        <%= form_tag({controller: "accommodations", action: "searchByHotelName"}, method: "get", id: "search_form_hotel", enforce_utf8: false, :remote => true) do %>
            <input type="text" id="hotel_name" placeholder="By hotel name..." class="search-box"/>
            <%= hidden_field_tag(:hotel_id, "") %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>

  <div id="search_results">
    <%= render partial: 'accommodations/results', locals: {accommodations: @accommodations} %>
  </div>

  <hr>

  <div style="display: none">
    <form id="search_helper">
      <%= hidden_field_tag(:current_search_type, "") %>
      <%= hidden_field_tag(:current_geo_id, "") %>
    </form>
  </div>

</div>
<!-- /.container -->


