<div class="row banner-background banner-text">
  <h1 style="text-align: center">The Islands of the Caribbean</h1>
  <h3 style="text-align: center">Browse our selection of hotels, tours and activities to plan your warm weather vacation.</h3>
</div>

<!-- Page Content -->
<div class="container">

  <hr>

  <!-- Title -->
  <div class="row padding">
    <div class="col-lg-12">
      <h3>Search Hotels</h3>
    </div>
  </div>
  <!-- /.row -->

  <div class="row padding">
    <div class="well">
      <div id="countries">
        <%= form_tag({controller: "accommodations", action: "searchByCountry"}, method: "get", id: "search_form_country", enforce_utf8: false, :remote => true) do %>
            <input type="text" id="country_name" placeholder="By destination country..." class="search-box"/>
            <%= hidden_field_tag(:country_id, "1") %>
            <%= hidden_field_tag(:search_type, "country") %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="row padding">
    <div class="well">
      <div id="hotels">
        <%= form_tag({controller: "accommodations", action: "searchByHotelName"}, method: "get", id: "search_form_hotel", enforce_utf8: false, :remote => true) do %>
            <input type="text" id="hotel_name" placeholder="By hotel name..." class="search-box"/>
            <%= hidden_field_tag(:hotel_id, "") %>
            <%= hidden_field_tag(:search_type, "hotel") %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>

  <div id="search_results">
    <%= render partial: 'accommodations/results', locals: {accommodations: @accommodations} %>
  </div>

  <hr>





</div>
<!-- /.container -->


