
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <!-- Title -->
      <h3><%= @accommodation.name %></h3>

      <!-- Preview Image -->
      <%= image_tag "/assets/Nevis-fleurs.jpg", alt: 'default', class: 'img-responsive' %>
      <hr>

      <p><%= simple_format(@accommodation.description) %></p>
      <hr>

      <!-- Accommodation details -->
      <p><span class="text-muted">Address: </span><%= @accommodation.address %></p>
      <p><span class="text-muted">Phone: </span><%= @accommodation.telephone %></p>
      <p><span class="text-muted">Email: </span><%= @accommodation.email %></p>

    </div>

      <!-- Sidebar Widgets Column -->
    <div class="col-md-4" style="padding-top: 55px;">
        <!-- Blog Search Well -->
        <div class="well">
          <h4 class="text-center">Check rates</h4>
          <div class="alert-info text-center" style="min-height: 35px;">Expedia</div>
          <div class="alert-success text-center" style="min-height: 35px;">Travelocity</div>
          <div class="alert-info text-center" style="min-height: 35px;">Hotels.com</div>
          <div class="alert-success text-center" style="min-height: 35px;">Orbitz</div>
          <!-- /.input-group -->
        </div>
      <hr>



      <div class="well">
        <p>
          <a href="<%= @accommodation.affiliate_url %>" class="btn btn-primary" target="_blank">Book with Expedia</a>
          <%= link_to 'Book direct with Hotel', @accommodation.web_address, :class => 'btn btn-info' %>
        </p>
      </div>

    </div>
  </div>
    <!-- /.row -->

  <!-- Container for the signup modal which will be loaded via jQuery -->
  <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal loaded here -->
      </div>
    </div>
  </div>

</div>

<script>
  document.addEventListener("turbolinks:load",function (){

    $('#modal-register').on('hidden.bs.modal', function (e) {
      $('#modal-header').remove();
      $('#modal-body').remove();

    });
    <% if !@user.nil? && @user.errors.any? %>

      $('#modal-register').modal('show');
      console.log('showing from new.html...');

    <% end %>

  });
</script>



